
@media(max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .header {
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .search {
        flex-grow: 1;
        max-width: 200px;
        position: relative;
    }
    .cont_2{
        display: none;
    }
    
    .search input {
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #dbdbdb;
        box-sizing: border-box;
        text-align: center;
    }
    
    .icons {
        display: flex;
        align-items: center;
    }
    
    .icons img {
        margin-left: 10px;
        width: 20px; 
        height: 20px;
    }
    
    .btn1,
    .btn2,
    .btn3,
    .btn4,
    .btn5 {
        border: none;
        background: none;
    }
    
    .stories {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        margin-top: 10px; 
        overflow-x: scroll;
        width: 100%; 
        max-width: 500px;
    }
    
    .story {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5px; 
        text-align: left;
    }
    
    .story img {
        width: 40px; 
        height: 40px; 
        border-radius: 50%;
        border: 1px solid #dbdbdb;
        background-color: #f0f0f0;
    }
    
    .nickname {
        margin-top: 5px;
        font-size: 10px; 
        color: #999;
    }
    
    .post {
        width: 100%;
        max-width: 500px;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        margin-top: 10px; 
    }
    
    .post-header, .post-footer {
        display: flex;
        align-items: center;
        padding: 5px; 
    }
    
    .post-header img, .post-footer img {
        width: 30px; 
        height: 30px; 
        border-radius: 50%;
        background-color: #f0f0f0;
        margin-right: 5px; 
    }
    
    .post-header .info .location {
        font-size: 10px; 
        color: #999;
    }
    
    .post-content img {
        width: 100%;
        object-fit: contain;
    }
    
    .post-footer .likes, .post-footer .comments {
        margin: 5px 0; 
    }
    
    .post-footer .comments .comment {
        font-size: 12px; 
    }
    
    .post-footer .comments .time {
        font-size: 10px; 
        color: #999;
    }
    
    .add-comment {
        width: 100%;
        display: flex;
        align-items: center;
        border-top: 1px solid #dbdbdb;
        padding: 5px; 
    }
    
    .add-comment input {
        flex-grow: 1;
        border: none;
        padding: 5px; 
        font-size: 12px; 
    }
    
    .add-comment button {
        background: none;
        border: none;
        color: #0095f6;
    }
    
    .reacts {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }
    
    .reacts img {
        width: 20px; 
        height: 20px; 
        margin: 0 3px; 
    }
    
    .cont_2 {
        width: 100%;
        max-width: 300px;
        padding: 10px; 
    }
    
    .profile-switch,
    .suggestions-header,
    .suggestion-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px; 
    }
    
    .profile-pic {
        width: 30px; 
        height: 30px; 
        background-color: #ddd;
        border-radius: 50%;
    }
    
    .profile-pic_one {
        width: 50px; 
        height: 50px; 
        background-color: #ddd;
        border-radius: 50%;
    }
    
    .profile-info {
        flex: 1;
        margin-left: 5px; 
    }
    
    .nickname {
        font-weight: bold;
        display: block;
        color: black;
    }
    
    .name-surname,
    .suggestions-for-you {
        font-size: 10px; 
        color: gray;
    }
    
    .switch-button,
    .follow-button {
        background-color: transparent;
        border: none;
        color: #0095f6;
        cursor: pointer;
        font-weight: bold;
    }
    
    .see-all {
        font-size: 10px; 
        color: #0095f6;
        text-decoration: none;
    }
    
    .suggestion-item {
        margin-bottom: 10px; 
    }
    
}

